<h1><a href="">OKF</a></h1>
<nav>
  <a href="profil">Profil</a>
  <a href="projekte">Projekte</a>
  <a href="themen">Themen</a>
  <a href="team">Team</a>
  <a href="blog">Blog</a>
  <a href="#">DE</a> |
  <a href="#">EN</a>
  <div class="search">
    <noscript>Die Suche benötigt JavaScript!</noscript>
    <button id="search-button" type="button">🔍</button>
    <form action="" id="site-search" class="search-form" role="search">
      <a href="#" id="close-search">close</a>
      <input type="search" id="search-input" aria-label="Search the {{ .Site.Title }} website..." class="site-search" autocomplete="off" placeholder="Search DST documentation..." required>
      <ul id="search-results">
	<!-->Search results<-->
      </ul>
      <div class="press-escape" title="Press Escape to Close the Site Search Overlay">Press <em>ESC</em> to close.</div>
    </form>
  </div>
</nav>
<hr>
